@charset "utf-8";

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: 400;
}

.left-float {
	float: left;
}

.right-float {
	float: right;
}

.clear {
	clear: both;
}

img,
iframe {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.bg-change {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

a {
	text-decoration: none;
	transition: 0.6s;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-ms-transition: 0.6s;
	-o-transition: 0.6s;
}

a:hover {
	transition: 0.6s;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-ms-transition: 0.6s;
	-o-transition: 0.6s;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.color-black {
	color: rgb(0, 0, 0);
}

.color-white {
	color: rgb(255, 255, 255);
}

table {
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;
	border-spacing: 0;
}

.block-item {
	display: block;
}

.inlineblock-item {
	display: inline-block;
}

.inline-item {
	display: inline;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.flex-wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
}

.left-flex {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.right-flex {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.space-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.space-around {
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.white-space {
	white-space: nowrap;
}