@charset "utf-8";

/*common
-----------------------------------------------------------------------------------------*/
section {
	padding: 100px 0;
}

.contents-wrapper-big {
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
}

.contents-wrapper {
	width: calc(100% - 100px);
	max-width: 1200px;
	margin: 0 auto;
}


@media screen and (max-width:767px) {
	section {
		padding: 50px 0;
	}

	.contents-wrapper-big {
		max-width: 550px;
	}

	.contents-wrapper {
		max-width: 550px;
		width: calc(100% - 40px);
	}


}

html,
body {
	font-size: 16px;
	color: rgba(85, 85, 85, 1);
	font-family: "Shippori Mincho", serif;
}

@media screen and (max-width:767px) {

	html,
	body {
		font-size: 14.4px;
	}
}

a {
	color: rgba(69, 69, 69, 1);
}

/* 画面切り替わり時のアニメーション */
body {
	opacity: 0;
	animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

html {
	scroll-behavior: smooth;
}

/* html {
	scroll-padding-top: 100px;
}

@media screen and (max-width:1439px) {
	html {
		scroll-padding-top: 80px;
	}
}

@media screen and (max-width:1023px) {
	html {
		scroll-padding-top: 70px;
	}
} */

@media screen and (min-width:768px) {
	.sp {
		display: none;
	}
}


@media screen and (max-width:1023px) {
	.tb {
		display: none;
	}
}

@media screen and (max-width:767px) {
	.pc {
		display: none;
	}
}

body {
	background: rgb(203, 223, 203);
}

.line-height-text {
	line-height: calc(30 / 16);
}

@media screen and (max-width:767px) {
	.line-height-text {
		line-height: 1.5;
	}
}

.br-span {
	display: inline-block;
}

/*fade
-----------------------------------------------------------------------------------------*/
.fade-in {
	opacity: 0;
	transform: translateY(50px);
	transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.is-visible {
	opacity: 1;
	transform: translateY(0);
}

.fade-delay {
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-delay.is-visible {
	opacity: 1;
	transform: translateY(0);
}


/*section-title
-----------------------------------------------------------------------------------------*/
.section-title {
	font-weight: 700;
	font-size: 3rem;
	text-align: center;
}

@media screen and (max-width:1023px) {
	.section-title {
		font-size: 2.5rem;
	}
}


.botton-black a {
	font-weight: 700;
	font-size: 1.5rem;
	border-bottom: 2px solid rgba(85, 85, 85, 1);
	border-right: 2px solid rgba(85, 85, 85, 1);
	width: 300px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 10;
}

.botton-black a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(85, 85, 85, 1);
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.4s cubic-bezier(0.85, 0, 0.15, 1);
	z-index: -1;
}

.botton-black a:hover {
	color: rgba(255, 255, 255, 1);
}

.botton-black a:hover::before {
	transform: scaleX(1);
	transform-origin: left;
}

.botton-white a {
	font-weight: 700;
	font-size: 1.5rem;
	border-bottom: 2px solid rgba(255, 255, 255, 1);
	border-right: 2px solid rgba(255, 255, 255, 1);
	width: 300px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 10;
	color: rgba(255, 255, 255, 1);
}

.botton-white a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 1);
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.4s cubic-bezier(0.85, 0, 0.15, 1);
	z-index: -1;
}

.botton-white a:hover {
	color: rgba(85, 85, 85, 1);
}

.botton-white a:hover::before {
	transform: scaleX(1);
	transform-origin: left;
}

@media screen and (max-width:767px) {

	.botton-white a,
	.botton-black a {
		width: 220px;
		height: 40px;
		margin-inline: auto;
	}
}


/*button
-----------------------------------------------------------------------------------------*/
.button a {
	padding: 15px 60px;
	display: inline-block;
	font-size: 1rem;
	line-height: 1;
	letter-spacing: 0.1em;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #000;
	background-color: #fff;
	transition: color 0.3s, background-color 0.3s;
}

@media (any-hover: hover) {
	.button a:hover {
		color: #fff;
		background-color: #000;
	}
}


/*top-fv
-----------------------------------------------------------------------------------------*/

.fv {
	padding: 0;
	height: 800px;
}

.fv-wrapper {
	position: relative;
	height: inherit;
}

.fv-bg {
	position: absolute;
	height: inherit;
	width: 100%;
	z-index: -1;
}

.fv-bg img {
	width: 100%;
	object-fit: cover;
	height: inherit;
	pointer-events: none;
}

.fv-bg::after {
	content: "";
	position: absolute;
	width: 50%;
	height: 100%;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 60.42%, rgba(0, 0, 0, 0) 100%);
	top: 0;
	left: 0;
}

.fv-content {
	display: flex;
	padding-top: 194px;
	gap: 48px;
	align-items: center;
	padding-left: 57px;
	max-width: 1500px;
	margin-inline: auto;
}

.fv-instagram {
	width: 45px;
}

.fv-copy {
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	display: flex;
	align-items: center;
	width: 100%;
	margin-top: 63px;
	color: rgba(255, 255, 255, 1);
	font-family: Noto Serif JP;
	font-weight: 400;
	font-size: 0.875rem;
}

.fv-scroll {
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	display: flex;
	align-items: center;
	width: 100%;
	margin-top: 72px;
	color: rgba(255, 255, 255, 1);
}

.fv-scroll {
	position: relative;
	padding-bottom: 80px;
	/* position: absolute; */
	/* bottom: 0; */
	/* left: 50%; */
	/* transform: translateX(-50%); */
	font-size: 0.875rem;
	line-height: 1;
	font-family: Noto Serif JP;
	font-weight: 400;
	font-size: 0.875rem;
}

.fv-scroll::before,
.fv-scroll::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 45%;
	width: 1px;
	height: 70px;
}

.fv-scroll::after {
	background-color: rgba(255, 255, 255, 1);
	animation: scrollDown 2s cubic-bezier(0.25, 1, 0.5, 1) infinite;
}

@keyframes scrollDown {
	0% {
		transform: scale(1, 0);
		transform-origin: 0 0;
	}

	50% {
		transform: scale(1, 1);
		transform-origin: 0 0;
	}

	51% {
		transform: scale(1, 1);
		transform-origin: 0 100%;
	}

	100% {
		transform: scale(1, 0);
		transform-origin: 0 100%;
	}
}

.fv-title {
	/* position: absolute; */
	/* z-index: 1; */
	max-width: 400px;
	width: 100%;
}

.fv-text {
	max-width: 600px;
	margin-top: 45px;
}

.fv-text-box {
	font-weight: 400;
	font-size: 1rem;
	line-height: calc(30 / 16);
	text-align: justify;
	color: rgba(255, 255, 255, 1);
}

.fv-text-box+.fv-text-box {
	margin-top: 16px;
}


.fv-sub-title {
	font-family: Noto Sans JP;
	font-weight: 600;
	font-size: clamp(1.25rem, 0.333rem + 1.91vw, 2.625rem);
	letter-spacing: 0.05em;
}


@media screen and (max-width:1023px) {
	.fv-content {
		gap: 30px;
		padding-top: 120px;
		padding-left: 30px;
	}

	.fv-instagram {
		width: 30px;
	}

	.fv-copy {
		margin-top: 34px;
	}
}

@media screen and (max-width:767px) {
	.fv-bg img {
		object-fit: cover;
		object-position: 80%;
	}

	.fv-main-title {
		font-size: 2.75rem;
	}

	.fv-sub-title {
		font-size: 1.125rem;
	}
}

@media screen and (max-width:767px) {
	.fv {
		height: 360px;

	}

	.fv-bg {
		height: 360px;
	}

	.fv-bg img {
		object-position: center;
	}

	.fv-title {
		max-width: 170px;
		margin-inline: auto;
	}

	.fv-content {
		padding-top: 100px;
		padding-left: 20px;
		padding-right: 20px;
		justify-content: center;
		max-width: 550px;
	}
}


/*sake
-----------------------------------------------------------------------------------------*/

.sake {

	padding: 134px 0 200px;
	background-image: url(../images/assets/sake-bg.png);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: -209px;
	overflow: clip;
}

.sake-wrapper {

	max-width: 1500px;
	margin-inline: auto;
}

.sake-pc {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.sake-img {
	max-width: 756px;
	width: 50.4%;
	margin-top: 123px;
}

.sake-content {
	flex: 1;
	display: flex;
	justify-content: end;
	gap: 15.8602%;
}

.sake-main-title {
	display: flex;
	flex-direction: row-reverse;
	height: fit-content;
}

.sake-main-title p {
	font-weight: 700;
	font-size: 3rem;
	/* line-height: 60px; */
	/* text-align: center; */
	color: rgba(255, 255, 255, 1);
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	line-height: calc(60 / 48);
	letter-spacing: 0.2em;
}

.sake-main-title p:nth-child(2) {
	margin-top: 167px;
}

.sake-main-title span {
	color: rgba(173, 2, 12, 1);
	font-family: Shippori Mincho;
	font-weight: 700;
	font-size: 4rem;
	/* line-height: 72.5px; */
}

.sake-sub-title {
	font-weight: 400;
	font-size: 21.875rem;
	color: rgba(255, 255, 255, 1);
	position: relative;
	z-index: 5;
}

.sake-sub-title::before {
	content: "";
	aspect-ratio: 1 / 1;
	max-width: 242px;
	width: 100%;
	background: rgba(173, 2, 12, 1);
	border-radius: 50%;
	position: absolute;
	top: 89px;
	z-index: -1;
	right: -55px;
}

.sake-text {
	max-width: 600px;
	color: rgba(255, 255, 255, 1);
	font-size: 1rem;
	font-weight: 400;
	margin-top: -19px;
	text-align: justify;
	margin-left: auto;

}

@media screen and (max-width:1023px) {
	.sake {
		background-size: cover;

	}

	.sake-sub-title {
		font-size: 16rem;
	}

	.sake-content {
		gap: 8%;
	}

	.sake-sub-title::before {
		width: 70%;
	}

	.sake-img {
		width: 40%;
		margin-top: 0;
	}

	.sake-text {
		margin-top: 20px;
		margin-bottom: 30px;
	}
}

@media screen and (max-width:767px) {
	.sake {
		margin-top: -140px;
	}

	.sake-wrapper {
		margin-top: 240px;
		justify-content: center;
		position: relative;
		max-width: 550px;

	}


	.sake-sp-title {
		font-weight: 700;
		font-size: 2rem;
		text-align: center;
		color: rgba(255, 255, 255, 1);
		-ms-writing-mode: tb-rl;
		writing-mode: vertical-rl;
		position: relative;
		z-index: 10;
		margin: 0 auto;
	}

	.sake-sp-title span {
		color: rgba(173, 2, 12, 1);
	}

	.sake-sp-img {
		position: absolute;
		width: 210px;
		left: 0;
		bottom: 23px;
	}

	.sake-sp-deco {
		position: absolute;
		width: 235px;
		right: -65px;
		bottom: -8px;
	}
}



/*skewer
-----------------------------------------------------------------------------------------*/
.skewer {

	padding: 134px 0 200px;
	background-image: url(../images/assets/skewer-bg.png);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: -246px;
	overflow: clip;
}

.skewer-wrapper {

	max-width: 1500px;
	margin-inline: auto;
}

.skewer-pc {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.skewer-img {
	max-width: 788px;
	width: 50.8%;
	margin-top: 100px;
	transform: rotate(-17deg);
	margin-right: -80px;
}

.skewer-content {
	flex: 1;
	display: flex;
	justify-content: start;
	gap: 20%;
	margin-top: -230px;
}



.skewer-main-title p {
	font-weight: 700;
	font-size: 3rem;
	/* line-height: 60px; */
	/* text-align: center; */
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	line-height: calc(60 / 48);
	letter-spacing: 0.2em;
	margin-top: 134px;
	white-space: nowrap;
}


.skewer-main-title span {
	color: rgba(173, 2, 12, 1);
	font-family: Shippori Mincho;
	font-weight: 700;
	font-size: 4rem;
	/* line-height: 72.5px; */
}

.skewer-sub-title {
	font-weight: 400;
	font-size: 25rem;
	color: rgba(255, 255, 255, 1);
	position: relative;
	z-index: 5;
	left: -46px;
}

.skewer-sub-title::before {
	content: "";
	aspect-ratio: 1 / 1;
	width: 449px;
	background-image: url(../images/assets/skewer-text-bg.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top: 94px;
	z-index: -1;
	right: -44px;
}

.skewer-text {
	max-width: 600px;
	font-size: 1rem;
	font-weight: 400;
	margin-top: -80px;
	text-align: justify;
}

@media screen and (max-width:1439px) {
	.skewer-pc {
		margin-top: 100px;
	}

	.skewer-img {
		width: 46%;
	}

	.skewer-text {
		margin-top: 0;
	}
}

@media screen and (max-width:1023px) {
	.skewer-pc {
		margin-top: 0;
	}

	.skewer {
		background-size: cover;
	}

	.skewer-content {
		margin-top: 0;
	}

	.skewer-sub-title {
		font-size: 16rem;
		left: 0;
	}

	.skewer-main-title p {
		margin-top: 0;
	}

	.skewer-sub-title::before {
		width: 320px;
		right: -34px;
		top: 42px;
	}

	.skewer-img {
		margin-top: 0;
	}

	.skewer-text {
		margin-top: 30px;
		margin-bottom: 30px;
		max-width: none;
	}
}

@media screen and (max-width:767px) {
	.skewer {
		padding-top: 100px;
	}

	.skewer-wrapper {
		position: relative;
		max-width: 550px;

	}

	.skewer-sp-title {
		font-weight: 700;
		font-size: 2rem;
		text-align: center;
		-ms-writing-mode: tb-rl;
		writing-mode: vertical-rl;
		position: relative;
		z-index: 10;
		margin: 0 auto;
	}

	.skewer-sp-title::first-letter {
		color: rgba(173, 2, 12, 1);
	}

	.skewer-sp-img {
		position: absolute;
		width: 222px;

		right: -40px;
		bottom: 20px;
	}

	.skewer-sp-deco {
		position: absolute;
		width: 235px;
		left: -74px;
		top: -50px;

	}
}



/*fire
-----------------------------------------------------------------------------------------*/
.fire {
	padding: 0;
	margin-top: -248px;
	position: relative;
}

.fire-img {
	clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
}

.fire-img img {
	height: 900px;
	object-fit: cover;
}


.fire-text-wrapper {
	position: absolute;
	top: 204px;
	left: 50%;
	transform: translate(-50%);
}

.fire-text {
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	font-weight: 700;
	font-size: 12.5rem;
	color: rgba(255, 255, 255, 1);
	width: 100%;
	position: relative;
}

.fire-text::before {
	content: "備";
	font-family: Shippori Mincho;
	font-weight: 500;
	font-size: 18.75rem;
	color: rgba(255, 255, 255, 0.3);
	position: absolute;
	top: -85px;
	left: -284px;
}

.fire-text::after {
	content: "長";
	font-family: Shippori Mincho;
	font-weight: 500;
	font-size: 18.75rem;
	color: rgba(255, 255, 255, 0.3);
	position: absolute;
	bottom: -42px;
	right: -282px;
}

@media screen and (max-width:1023px) {
	.fire-img img {
		height: 600px;
	}

	.fire-text-wrapper {
		top: 135px;
	}

	.fire-text {
		font-size: 6.5rem;
	}

	.fire-text::before {
		font-size: 10rem;
		top: -50px;
		left: -146px;
	}

	.fire-text::after {
		font-size: 10rem;
		bottom: -28px;
		right: -146px;

	}
}

@media screen and (max-width:767px) {
	.fire {
		margin-top: -200px;
	}

	.fire-img img {
		height: 225px;
	}
}



/*menu-botton
-----------------------------------------------------------------------------------------*/

.menu-botton {
	padding: 0;
	margin-top: -254px;
	position: absolute;
	width: 100%;
}


.menu-botton-wrapper {
	display: flex;
	gap: 40px;
}

.food-menu {
	flex: 1;
}


.botton-title {
	font-weight: 700;
	font-size: 2.5rem;
	color: rgba(255, 255, 255, 1);
	border-bottom: 2px solid rgba(255, 255, 255, 1);
	max-width: 360px;
	width: 100%;
	max-height: 80px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 2;
	transition: all 0.3s;
}

.botton-title::after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 2px;
	/* 線の太さ */
	height: 50px;
	/* 要素の高さより短くする */
	background-color: rgba(255, 255, 255, 1);
}

.drink-menu {
	flex: 1;
}

.menu-botton-box a {
	aspect-ratio: 580 / 390;
	max-width: 580px;
	width: 100%;
	/* height: 390px; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.food-menu a {
	background-image: url(../images/assets/food01.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.drink-menu a {
	background-image: url(../images/assets/drink01.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}


.menu-botton-box a:hover .botton-title {
	color: rgba(85, 85, 85, 1);
	background: rgba(255, 255, 255, 1);
}

.food-menu a:hover {
	background-image: url(../images/assets/food02.jpg);
}

.drink-menu a:hover {
	background-image: url(../images/assets/drink02.jpg);
}

@media screen and (max-width:1023px) {
	.menu-botton {
		margin-top: -130px;
	}

	.botton-title {
		font-size: 1.75rem;
		max-width: 220px;
		max-height: 60px;

	}
}

@media screen and (max-width:767px) {
	.menu-botton {
		margin-top: -50px;
	}

	.menu-botton-wrapper {
		gap: 10px;
		justify-content: center;
	}

	.menu-botton-box {
		max-width: 220px;
	}

	.botton-title {
		font-size: 1.125rem;
		max-width: 124px;
		max-height: 30px;
	}

	.botton-title::after {
		height: 30px;

	}
}

/*parallax
-----------------------------------------------------------------------------------------*/

.parallax {
	height: 680px;
	padding: 0;
	overflow: clip;
}

.parallax-wrapper {
	max-width: 1500px;
	margin-inline: auto;
	position: relative;
	height: inherit;
}

.parallax-text {
	font-weight: 600;
	font-size: clamp(6rem, 1.803rem + 8.74vw, 10rem);
	color: rgba(255, 255, 255, 1);
	line-height: 1;
	position: absolute;
}

.parallax-text:first-of-type {
	top: -16px;
	left: -20px;
}

.parallax-text:nth-of-type(2) {
	bottom: 0;
	right: -30px;
}


.parallax-text::first-letter {
	font-size: clamp(8rem, 3.279rem + 9.84vw, 12.5rem);
}

.parallax-img {
	position: absolute;
	width: 85px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.body::before {
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -10;
	/* background-image: url(../images/assets/parallax-bg.jpg); */
	background:
		linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../images/assets/parallax-bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.page-menu::before {
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -10;
	/* background-image: url(../images/assets/parallax-bg-menu.jpg); */
	background:
		linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../images/assets/parallax-bg-menu.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

}



@media screen and (max-width:1023px) {
	.parallax {
		height: 550px;
	}

	.parallax-text:first-of-type {
		top: -16px;
		left: 0;
	}

	.parallax-text:nth-of-type(2) {
		bottom: 0;
		right: 0;
	}

	.parallax-img {
		width: 70px;
	}
}

@media screen and (max-width:767px) {
	.body::before {
		/* content: none; */
	}

	.parallax {
		height: 350px;
	}

	.parallax-text {
		font-size: 3rem;
	}

	.parallax-text::first-letter {
		font-size: 4rem;
	}

	.parallax-text:first-of-type {
		top: 0;
	}
}

/*instagram
-----------------------------------------------------------------------------------------*/

.instagram {
	background-image: url(../images/assets/instagram-bg.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

}


@keyframes infinity-scroll-left {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-100%);
	}
}

.instagram-scroll-wrap {
	display: flex;
	overflow: hidden;
}

.instagram-scroll-list {
	display: flex;
	list-style: none;
	padding: 0;
	align-items: center;
}

.instagram-scroll-list-left {
	animation: infinity-scroll-left 80s infinite linear 0.5s both;
}

.instagram-scroll-item {
	width: calc(100vw / 4.3);
	margin-left: 40px;
}

.instagram-scroll-item>img {
	width: 100%;
}

@keyframes instagram-scroll-right {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0%);
	}
}

.instagram-scroll-list-right {
	animation: instagram-scroll-right 80s infinite linear 0.5s both;
}


.instagram-body {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}


.intagram-text {
	font-weight: 700;
	font-size: 3rem;
	color: rgba(255, 255, 255, 1);
	margin-left: 93px;
}

.intagram-text span {
	font-size: 4rem;
}

.instagram-dragon {
	max-width: 101px;
	width: 100%;
	margin-left: 178px;
}

.instagram-box {
	margin-left: 128px;
}

.instagram-title {
	width: 300px;
}

.instagram-button {
	margin-top: 10px;
}

.instagram-button.botton-white a:hover {
	color: rgba(173, 2, 12, 1);
}

@media screen and (max-width:1023px) {
	.instagram-body {
		margin-top: 30px;
	}

	.intagram-text {
		margin-left: 0;
	}

	.instagram-dragon {
		margin-left: 30px;
	}

	.instagram-box {
		margin-left: 0;
		margin-top: 30px;
	}
}

@media screen and (max-width:767px) {
	.instagram-scroll-item {
		width: calc(100vw / 3);
		margin-left: 0;
	}

	.instagram-body {
		flex-direction: column;
	}

	.intagram-text {
		font-size: 2.5rem;
	}

	.intagram-text span {
		font-size: 3rem;
	}

	.instagram-dragon {
		margin-left: 0;
		margin-top: 24px;
		margin-inline: auto;
	}

	.instagram-title {
		width: 260px;
	}
}

@media screen and (max-width:466px) {}

/*top-nikai 
-----------------------------------------------------------------------------------------*/

.top-nikai {
	background-image: url(../images/assets/nikai-bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 40px;
	padding-bottom: 150px;
}

.top-nikai-wrapper {
	display: flex;
	align-items: center;
	gap: 98px;
}

.top-nikai-title {
	font-weight: 700;
	font-size: 3rem;
	text-align: center;
}

.top-nikai-logo {
	aspect-ratio: 217 / 221;
	max-width: 217px;
	width: 100%;
	margin-inline: auto;
	margin-top: 8px;
}

.top-nikai-img {
	display: flex;
}

.top-nikai-img img {
	aspect-ratio: 1 / 1;
	max-width: 265px;
	width: 50%;
	height: 100%;
}

.top-nikai-img img:first-of-type {
	margin-top: 35px;
}

.top-nikai-button a {
	margin-inline: auto;
	margin-top: 24px;

}

@media screen and (max-width:1023px) {
	.top-nikai-wrapper {
		gap: 30px;
	}

	.top-nikai-body {
		width: 80%;
	}

	.top-nikai-title {
		font-size: 2.4rem;
	}

	.top-nikai-logo {
		max-width: 168px;
	}
}

@media screen and (max-width:767px) {
	.top-nikai-wrapper {
		flex-direction: column;
	}

	.top-nikai-body {
		width: 100%;
	}
}


/*top-other-business 
-----------------------------------------------------------------------------------------*/
.top-other-business {
	background-image: url(../images/assets/other-business-top-bg.png);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: -150px;
	padding-bottom: 50px;
}

.top-other-business-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 50px;
	gap: 153px;
}

.top-other-business-body {
	margin-left: auto;
	max-width: 534px;
	padding-left: 50px;
}

.top-other-business-title {
	font-weight: 700;
	font-size: 4rem;
	color: rgba(255, 255, 255, 1);

}

.top-other-business-text {
	margin-top: 49px;
	font-weight: 400;
	font-size: 1rem;
	color: rgba(255, 255, 255, 1);
}

.top-other-business-text+.top-other-business-text {
	margin-top: 16px;

}

.top-other-business-button {
	margin-top: 85px;
}

.top-other-business-button a {
	margin-inline: auto;
}


.top-other-business-img-content {
	max-width: 646px;
	width: 43.7333%;
}

/* .top-other-business-img-content img {
	max-width: 266px;
	height: 100%;
}

.top-other-business-img-content img:nth-of-type(2) {
	margin-top: 60px;
	margin-left: -76px;
}

.top-other-business-img-content img:nth-of-type(3) {
	margin-top: 104px;
	margin-left: -76px;
} */

@media screen and (max-width:1023px) {
	.top-other-business {
		background-size: cover;
	}

	.top-other-business-wrapper {
		gap: 30px;
		margin-top: 0;
	}

	.top-other-business-body {
		max-width: 435px;
	}
}

@media screen and (max-width:767px) {
	.top-other-business-wrapper {
		flex-direction: column;
		padding-left: 20px;
		padding-right: 20px;
		max-width: 550px;
		margin-inline: auto;
	}

	.top-other-business-body {
		padding-left: 0;
		margin-left: 0;
	}

	.top-other-business-title {
		font-size: 3rem;
		margin-top: 50px;
	}

	.top-other-business-text {
		margin-top: 30px;
	}

	.top-other-business-button {
		margin-top: 30px;
	}

	.top-other-business-img-content {
		width: 100%;
	}
}

/*top-company 
-----------------------------------------------------------------------------------------*/
.top-company {
	background-image: url(../images/assets/company-top-bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 50px 0;
}

.top-company-wrapper {
	max-width: 1500px;
	margin-inline: auto;
	display: flex;
	align-items: center;
	gap: 38px;
}

.top-company-img {
	max-width: 750px;
	width: 50%;
}

.top-company-body {
	width: 34.8666%;
}

.top-company-logo {
	max-width: 523px;
}

.top-company-button {
	margin-top: 85px;
}

.top-company-button a {
	margin-inline: auto;
}

@media screen and (max-width:767px) {
	.top-company-wrapper {
		flex-direction: column;
		padding-left: 20px;
		padding-right: 20px;
		gap: 30px;
		max-width: 550px;
	}

	.top-company-img,
	.top-company-body {
		width: 100%;
	}

	.top-company-logo {
		max-width: 200px;
		margin-inline: auto;
	}

	.top-company-button {
		margin-top: 30px;
	}
}


/*top-recruit
-----------------------------------------------------------------------------------------*/
.top-recruit {
	background-image: url(../images/assets/recruit-bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 50px 0;
}

.top-recruit-wrapper {
	max-width: 1500px;
	margin-inline: auto;
	display: flex;
	align-items: center;
	gap: 91px;
}

.top-recruit-img {
	max-width: 576px;
	width: 38.4%;
}

.top-recruit-body {
	max-width: 464px;
	margin-left: auto;
	flex: 1;
}

.top-recruit-title {
	text-align: center;

}

.top-recruit-title-top {
	font-weight: 700;
	font-size: 3rem;
	color: rgba(255, 255, 255, 1);
}

.top-recruit-title-top span {
	font-size: 4rem;
}


.top-recruit-title-bottom {
	font-weight: 700;
	font-size: 4rem;
	color: rgba(255, 255, 255, 1);
}

.top-recruit-title-bottom::first-letter {
	color: rgba(173, 2, 12, 1);
	font-size: 6rem;
}

.top-recruit-text-box {
	margin-top: 18px;
	color: rgba(255, 255, 255, 1);
	font-weight: 400;
	font-size: 1rem;
	max-width: 456px;
	margin-inline: auto;

}

.top-recruit-text+.top-recruit-text {
	margin-top: 20px;
}



.top-recruit-button {
	margin-top: 71px;
}

.top-recruit-button a {
	margin-inline: auto;
	text-transform: uppercase;
}

@media screen and (max-width:1023px) {
	.top-recruit-wrapper {
		gap: 0;
	}

	.top-recruit-title-top {
		font-size: 2.2rem;
	}

	.top-recruit-title-top span {
		font-size: 3rem;
	}

	.top-recruit-title-bottom {
		font-size: 3rem;
	}

	.top-recruit-title-bottom::first-letter {
		font-size: 4.5rem;
	}
}

@media screen and (max-width:767px) {
	.top-recruit-wrapper {
		flex-direction: column;
	}

	.top-recruit-body {
		margin-left: 0;
	}

	.top-recruit-button {
		margin-top: 30px;
	}

	.top-recruit-img {
		margin-top: 30px;
		/* width: 100%; */
		margin-left: auto;
	}
}


/*page-menu 
-----------------------------------------------------------------------------------------*/

.menu-food {
	background-image: url(../images/assets/menu-bg.png);
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
	/* position: relative; */
	margin-top: -216px;
	padding-top: 231px;

	/* padding: 0; */
}


.menu-food-title {
	font-size: 4rem;
}


.course-header {
	position: relative;
	margin-top: 108px;
}

.course-header-title {
	font-weight: 700;
	font-size: clamp(8rem, -0.393rem + 17.49vw, 16rem);
	line-height: 0.8;
	white-space: nowrap;
}

.course-header-img {
	position: absolute;
	width: clamp(18.75rem, -2.234rem + 43.72vw, 38.75rem);
	top: -24.9333vw;
	right: 0;
}

.other-menu-title-sp {
	display: none;
}

.course-content {
	margin-top: 91px;
}

.course-box {
	display: flex;
	align-items: center;
	gap: 56px;
}

.course-box:nth-child(even) {
	flex-direction: row-reverse;
}

.course-box+.course-box {
	margin-top: 94px;
}

.course-img {
	max-width: 600px;
	width: 50%;
}

.course-title {
	font-weight: 700;
	font-size: 2.25rem;
}

.course-title span {
	font-size: 1.5rem;
}

.course-title .reservation {
	font-weight: 700;
	font-size: 1rem;
	margin-left: 22px;
}

.course-text-box {
	margin-top: 34px;
}

.course-text {
	font-weight: 700;
	font-size: 1rem;
}

.course-text span {
	display: block;
	margin-left: 20px;
}

.course-rec {
	position: relative;
}

.course-rec::before {
	content: "";
	display: inline-block;
	background-image: url(../images/assets/course-rec.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	aspect-ratio: 160 / 165;
	width: 160px;
	position: absolute;
	top: -30px;
	left: 0;
}

.course-header {
	display: flex;
	align-items: center;
	gap: 61px;
}

.price-sub-title {
	font-weight: 700;
	font-size: 2rem;
	max-width: 400px;
	width: 100%;
	height: 50px;
	background: rgba(255, 255, 255, 1);
	text-align: center;
}

.course-add-memo {
	font-weight: 700;
	font-size: 1rem;
	flex-shrink: 0;
}

.course-add-content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px;
	margin-top: 36px;
	/* flex-wrap: wrap; */

}

.course-add-box {
	max-width: 365px;
	width: 100%;
}

.course-add-list {
	display: flex;
}

.course-add-price {
	width: 70px;
	font-weight: 700;
	font-size: 1rem;
	border-bottom: 1px solid rgba(116, 116, 116, 1);
	flex-shrink: 0;
	padding-top: 5px;
}

.course-add-menu {
	font-weight: 700;
	font-size: 1rem;
	border-bottom: 1px solid rgba(116, 116, 116, 1);
	width: 100%;
	padding-top: 5px;

}

.course-add-menu span+span {
	margin-left: 30px;
}


.drink-free {
	margin-top: 106px;
}

.drink-free-wrapper {
	background-image: url(../images/assets/drink-free.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 684px;
	width: 100%;
	position: relative;

}

.drink-free-title {
	font-family: "Cinzel", serif;
	font-weight: 400;
	font-size: 8.75rem;
	/* text-transform: uppercase; */
	line-height: 1.1;
	padding-top: 338px;
	margin-left: 200px;

}

.drink-free-title span {
	display: block;
	margin-left: 124px;
}

.drink-free-memo {
	font-weight: 800;
	font-size: 1rem;
	margin-top: -10px;
	padding-right: 150px;
	text-align: right;
}

.drink-free-read-left,
.drink-free-read-right {
	font-weight: 400;
	font-size: 1.5rem;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	white-space: nowrap;
	letter-spacing: 0.57em;
	position: absolute;

}

.drink-free-read-left {
	top: 198px;
	left: 62px;
}

.drink-free-read-right {
	top: 60px;
	left: 121px;
}


@media screen and (max-width:1240px) {

	.course-rec::before {
		width: 120px;
		left: 49%;
		top: -8px;
	}

	.course-add-content {
		gap: 20px;
	}

	.course-add-menu {
		font-size: 0.875rem;
	}

	.course-add-menu span+span {
		margin-left: 18px;
	}

	.drink-free-title {
		font-size: 6rem;
		padding-top: 400px
	}

}

@media screen and (max-width:1023px) {
	.menu-food {
		padding-top: 130px;
	}

	.menu-food-title {
		font-size: 2.5rem;
		margin-top: 100px;
	}

	.course-header {
		margin-top: 100px;
	}

	.course-box {
		gap: 30px;
	}

	.course-text-box {
		margin-top: 20px;
	}

	.course-img {
		width: 40%;
	}

	.course-box+.course-box {
		margin-top: 50px;
	}

	.course-add-content {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 40px;
	}

	.course-add-box {
		max-width: none;
	}

	.course-title {
		font-size: 1.8rem;
	}

	.drink-free-wrapper {
		height: 400px;
	}

	.drink-free-read-left,
	.drink-free-read-right {
		font-size: 1rem;
		letter-spacing: 0.2em;
	}

	.drink-free-read-left {
		top: 150px;
	}

	.drink-free-title {
		padding-top: 220px;
		font-size: 4rem;
	}

	.drink-free-memo {
		padding-right: 40px;
	}
}

@media screen and (max-width:767px) {

	.menu-food {
		background-size: cover;
	}

	.course-content {
		margin-top: 50px;
	}

	.course-header-img {
		width: 113px;
		top: -168px;
	}

	.course-header-title {
		font-size: 5.5rem;
	}

	.course-box,
	.course-box:nth-child(even) {
		flex-direction: column;
	}

	.course-box {
		gap: 20px;
	}

	.course-img,
	.course-body {
		width: 100%;
	}

	.course-rec::before {
		left: -25px;
		top: -35px;
	}

	.course-header {
		flex-direction: column;
		gap: 10px;
		margin-top: 50px;
	}

	.course-add-content {
		grid-template-columns: repeat(1, 1fr);
		row-gap: 30px;
		margin-top: 30px;
	}

	.drink-free-read-left,
	.drink-free-read-right {
		display: none;
	}

	.drink-free {
		margin-top: 50px;
	}

	.drink-free-wrapper {
		height: 250px;
	}

	.drink-free-title {
		margin-left: auto;
		font-size: 3rem;
		width: fit-content;
		padding-right: 10px;
		padding-top: 130px;
	}

	.drink-free-title span {
		margin-left: 50px;
		padding-right: 10px;

	}

	.drink-free-memo {
		padding-right: 10px;
	}

	.price-sub-title {
		max-width: none;
	}


}



/*page-menu  .other-menu
-----------------------------------------------------------------------------------------*/


.other-menu {
	padding-top: 100px;
	overflow: clip;
}

.other-menu-header {
	display: flex;
}

.other-menu-img {
	max-width: 1178px;
	width: 78.5333%;
}

.other-menu-img img {
	object-fit: cover;
}

.other-menu-title {
	width: 21.4666%;
}

.other-menu-title-big {
	font-weight: 400;
	font-size: clamp(12rem, -1.639rem + 28.42vw, 25rem);
	margin-left: -24px;
	margin-top: -140px;
	display: block;
}

.other-menu-title-small {
	font-weight: 400;
	font-size: clamp(5rem, 1.852rem + 6.56vw, 8rem);
	text-align: center;
	margin-top: -130px;
	display: block;
}

.other-menu-content,
.menu-drink-content {
	margin-top: 100px;
	max-width: 900px;
	margin-inline: auto;
	display: flex;
	gap: 100px;
}

.other-menu-content-right,
.other-menu-content-left,
.menu-drink-content-right,
.menu-drink-content-left {
	flex: 1;
}

.other-menu-item,
.menu-drink-item {
	max-width: 400px;
	width: 100%;
}

.other-menu-item-mt,
.menu-drink-item-mt {
	margin-top: 74px;
}

.price-menu {
	display: flex;
	justify-content: space-between;
	color: rgba(255, 255, 255, 1);
	border-bottom: 1px solid rgba(116, 116, 116, 1);
}

.price-menu:first-of-type {
	margin-top: 13px;
}

.price-title {
	font-weight: 700;
	font-size: 1rem;
	padding-top: 17px;
	padding-bottom: 5px;
}

.price-fee {
	font-weight: 700;
	font-size: 1rem;
	/* margin-left: 50px; */
	padding-top: 17px;
	padding-bottom: 5px;
}

.other-menu-comment {
	font-weight: 700;
	font-size: 1rem;
	margin-top: 45px;
	width: fit-content;
	margin-inline: auto;
}

@media screen and (max-width:1439px) {

	.other-menu-title-big {
		margin-top: -120px;
	}

	.other-menu-title-small {
		margin-top: -90px;
	}
}

@media screen and (max-width:1023px) {

	.other-menu-title-big {
		margin-top: -80px;
	}

	.other-menu-title-small {
		margin-top: -70px;
	}

	.other-menu-content,
	.menu-drink-content {
		gap: 40px;
	}

	.menu-drink-content {
		margin-top: 50px;
	}

	.price-title {
		font-size: 0.875rem;
	}

}

@media screen and (max-width:767px) {
	.other-menu {
		padding-top: 50px;
	}

	.other-menu-header {
		display: none;
	}

	.other-menu-title-sp {
		display: block;
	}

	.other-menu-content {
		margin-top: 30px;
		flex-direction: column;
	}

	.other-menu-item-mt,
	.menu-drink-item-mt {
		margin-top: 40px;
	}

	.price-title {
		font-size: 1rem;
	}

	.other-menu-item,
	.menu-drink-item {
		max-width: none;
	}
}


/*page-menu  .menu-drink
-----------------------------------------------------------------------------------------*/

.menu-drink {
	background-image: url(../images/assets/drink-menu-bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}


.menu-drink-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu-drink-header-text {
	font-weight: 400;
	font-size: clamp(17rem, 11.885rem + 10.66vw, 21.875rem);
	position: relative;
	z-index: 10;
}

.menu-drink-header-text::before {
	content: "";
	aspect-ratio: 1 / 1;
	max-width: clamp(12.188rem, 9.106rem + 6.42vw, 15.125rem);
	width: 100%;
	background: rgba(173, 2, 12, 1);
	border-radius: 50%;
	position: absolute;
	top: -12px;
	left: -75px;
	z-index: -1;

}

.menu-drink-header-img {
	max-width: 595px;
	width: 49.5833%;
}

.sake-brewery {
	padding-top: 66px;
	padding-bottom: 104px;
	max-width: 700px;
	width: 100%;
	margin-inline: auto;
	background-image: url(../images/assets/sake-brewery-map.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.sake-brewery-map-title {
	font-weight: 400;
	font-size: 2.25rem;
}

.sake-brewery-map-text {
	font-weight: 700;
	font-size: 1rem;
}

.sake-brewery-labels {
	display: flex;
	flex-wrap: wrap;
	row-gap: 34px;
	column-gap: 15px;
	justify-content: center;
	padding-top: 69px;
}

.sake-brewery-label a {
	max-width: 128px;
	width: 100%;
	transition: all 0.3s;
	display: block;
}

.sake-brewery-label a:hover {
	transform: scale(1.1);
}

.sake-brewery-label img {
	max-width: 128px;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}


.sake-choice {
	margin-top: 30px;
	display: flex;
	gap: 50px;
}

.sake-choice-img {
	max-width: 600px;
	width: 50%;
}

.sake-choice-body {
	margin-top: 25px;
}

.sake-choice-title {
	font-weight: 400;
	font-size: clamp(1.8rem, 0.45rem + 2.81vw, 2.25rem);
}

.sake-choice-text {
	margin-top: clamp(1.875rem, -5.813rem + 16.02vw, 4.438rem);
	max-width: 350px;
	width: 100%;
	font-weight: 700;
	font-size: 1rem;
}

.menu-drink-title {
	margin-top: 70px;
	font-size: 4rem;
}

.menu-drink-content {
	.price-sub-title {
		background: rgba(51, 51, 51, 1);
		color: rgba(255, 255, 255, 1);
	}

	.price-menu {
		color: rgba(85, 85, 85, 1);
	}
}

.price-shochu {
	display: flex;
	gap: 27px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgba(116, 116, 116, 1);

}

.shochu-name {
	width: 50%;
}

.shochu-text {
	width: 160px;
	text-align: right;
	align-items: center;
}

.price-menu.border-non {
	border-bottom: none;
}

.menu-drink-comment {
	margin-top: 50px;
	width: fit-content;
	margin-inline: auto;
	text-align: center;
}

.menu-drink-comment p:nth-of-type(1) {
	font-weight: 700;
	font-size: 1rem;
}

.menu-drink-comment p:nth-of-type(2) {
	font-weight: 400;
	font-size: 1.5rem;
	margin-top: 10px;
}

@media screen and (max-width:1023px) {
	.sake-brewery {
		max-width: 550px;
	}

	.menu-drink-title {
		font-size: 2.5rem;
	}

	.shochu-text {
		font-size: 0.875rem;
	}
}

@media screen and (max-width:767px) {
	.sake-brewery {
		padding-top: 0px;
		padding-bottom: 0;
		max-width: 440px;
		margin-top: 30px;
	}

	.sake-brewery-label img {
		max-width: 100px;
	}

	.menu-drink-header-text {
		font-size: 10rem;
	}

	.sake-brewery-map-title,
	.sake-brewery-map-text {
		/* text-align: center; */
	}

	.sake-brewery-labels {
		padding-top: 30px;
	}

	.sake-choice {
		flex-direction: column;
		margin-top: 50px;
		gap: 30px;
	}

	.sake-choice-img {
		width: 100%;
	}

	.sake-choice-body {
		margin-top: 0;
	}

	.sake-choice-title {
		text-align: center;
	}

	.sake-choice-text {
		max-width: none;
	}

	.menu-drink-title {
		margin-top: 50px;
	}

	.menu-drink-content {
		margin-top: 30px;
		flex-direction: column;
	}

	.menu-drink-comment {
		margin-top: 30px;
	}

	.menu-drink-comment p:nth-of-type(2) {
		font-size: 1.25rem;
	}
}


/*company 
-----------------------------------------------------------------------------------------*/

.company {
	background-image: url(../images/assets/company-bg.png);
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
	margin-top: -216px;
	/* position: relative; */
}

.company-wrapper {
	margin-top: 100px;
}

.company-title {
	font-weight: 700;
	font-size: 2.25rem;
	text-align: center;
}

.company-content {
	display: flex;
	gap: 75px;
	align-items: center;
	margin-top: 50px;
}

.company-img {
	max-width: 597px;
	width: 49.75%;
}

.company-profile {
	font-weight: 400;
	font-size: 1.25rem;
}

.company-profile-list {
	display: flex;
}

.company-profile-list+.company-profile-list {
	margin-top: 35px;
}

.company-profile-term {
	width: 124px;
}

.company-profile-description {
	white-space: nowrap;
	flex: 1;
}

@media screen and (max-width:1023px) {
	.company-content {
		gap: 30px;
	}

	.company-profile {
		font-size: 1rem;
	}

	.company-profile-list+.company-profile-list {
		margin-top: 20px;
	}

	.company-profile-term {
		width: 100px;
	}
}

@media screen and (max-width:767px) {

	.company {
		background-size: cover;
	}

	.company-wrapper {
		margin-top: 200px;
	}

	.company-content {
		flex-direction: column;
	}

	.company-img {
		width: 100%;
	}
}

/*other-business
-----------------------------------------------------------------------------------------*/

.other-business {
	background-image: url(../images/assets/other-business-bg.png);
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
	margin-top: -216px;
	/* position: relative; */
}

.other-business-wrapper {
	margin-top: 200px;
}

.other-business-content {
	display: flex;
	align-items: center;
	gap: 53px;
}

.other-business-body {}

.other-business-title {
	font-weight: 700;
	font-size: clamp(1.5rem, 0.713rem + 1.64vw, 2.25rem);
}

.other-business-text {
	font-weight: 700;
	font-size: 1rem;
	margin-top: 60px;
}

.other-business-price {
	font-weight: 700;
	font-size: clamp(1.5rem, 0.713rem + 1.64vw, 2.25rem);
	margin-top: 30px;
}

.other-business-img {
	max-width: 600px;
	width: 50%;
	flex-shrink: 0;
}

.other-business-content:nth-child(even) {
	flex-direction: row-reverse;
}

.other-business-content+.other-business-content {
	margin-top: 100px;
}

@media screen and (max-width:1023px) {
	.other-business-wrapper {
		margin-top: 200px;
	}

	.other-business-content {
		gap: 30px;
	}

	.other-business-text {
		margin-top: 30px;
	}

	.other-business-content+.other-business-content {
		margin-top: 50px;
	}
}

@media screen and (max-width:767px) {
	.other-business-wrapper {
		margin-top: 200px;
	}

	.other-business {
		background-size: cover;
	}

	.other-business-content {
		flex-direction: column-reverse;
	}

	.other-business-content:nth-child(even) {
		flex-direction: column-reverse;
	}

	.other-business-img {
		width: 100%;
	}
}



/*contact
-----------------------------------------------------------------------------------------*/
.contact {
	background-image: url(../images/assets/contact-tel-bg.png);
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
	margin-top: -216px;
	/* position: relative; */
}

.contact-wrapper {
	margin-top: 148px;
}

.contact-tel-content {
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.contact-tel-body {
	width: 486px;
	/* flex-shrink: 0; */
}

.contact-tel-title {
	font-weight: 500;
	font-size: 2.25rem;
	color: rgba(255, 153, 0, 1);
}

.contact-tel-text {
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 2;
}

.contact-number-body {
	width: 50%;
}

.contact-number-body a {
	max-width: 600px;
	background: rgba(173, 2, 12, 1);
	color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	gap: clamp(0.625rem, -2.326rem + 6.15vw, 3.438rem);
	justify-content: center;
	padding: 37px 0;
}

.tel-link {
	pointer-events: none;
	/* クリック無効化 */
}

.contact-seat {
	font-weight: 500;
	font-size: 1rem;
	margin-top: 9px;
	letter-spacing: 0.2em;
}

.contact-parking {
	font-weight: 500;
	font-size: 1rem;
	letter-spacing: 0.2em;
}

.contact-payment {
	font-weight: 500;
	font-size: 1rem;
	letter-spacing: 0.2em;
}

.contact-number-icon {
	width: clamp(1.75rem, 0.701rem + 2.19vw, 2.75rem);
	margin-bottom: clamp(1.125rem, -0.055rem + 2.46vw, 2.25rem);
}

.contact-number-box {
	display: inline;
}

.contact-number-tel {
	font-weight: 500;
	font-size: clamp(2rem, -0.098rem + 4.37vw, 4rem);
	white-space: nowrap;
}

.contact-number-time {
	display: block;
	font-size: clamp(1rem, -0.049rem + 2.19vw, 2rem);
	white-space: nowrap;
	text-align-last: justify;
}

@media screen and (max-width:1439px) {
	.contact-number-body {
		width: 46%;
	}
}

@media screen and (max-width:1023px) {

	.contact-seat,
	.contact-parking,
	.contact-payment {
		letter-spacing: 0;
	}

	.contact-number-body a {
		padding: 30px 0;
	}
}

@media screen and (max-width:767px) {
	.contact {
		padding-top: 80px;
	}

	.contact-tel-content {
		flex-direction: column;
	}

	.contact-tel-body {
		width: auto;
	}

	.contact-tel-title {
		text-align: center;
	}

	.contact-tel-text {
		line-height: 1.5;
		margin-top: 10px;
	}

	.contact-number-body {
		width: 100%;
		max-width: 360px;
		margin-top: 30px;
	}

	.contact-number-tel {
		font-size: 2.5rem;
	}

	.contact-number-time {
		font-size: 1.25rem;
	}

	.tel-link {
		pointer-events: auto;
	}
}

/*form
-----------------------------------------------------------------------------------------*/
.form {
	background-image: url(../images/assets/contact-bg.jpg);
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
}

.form-container {
	margin-top: 50px;
}

.form-wrapper {
	max-width: 900px;
	width: 100%;
	margin-inline: auto;
}

.form-title {
	font-weight: 500;
	font-size: clamp(3rem, 1.951rem + 2.19vw, 4rem);
	text-align: center;
}

.form-read {
	font-weight: 500;
	font-size: clamp(1.75rem, 1.225rem + 1.09vw, 2.25rem);
	margin-top: 41px;
	text-align: center;
}

.form-content {
	margin-top: 35px;
}


.form-wrap+.form-wrap {
	margin-top: 30px;
}

.form-wrap {
	display: flex;
	align-items: center;
}

.form-wrap-title {
	width: 280px;
	flex-shrink: 0;
}

.form-wrap:nth-of-type(7) .form-wrap-title {
	align-self: flex-start;
	margin-top: 10px;
}

.title-top {
	align-self: flex-start;
	margin-top: 10px;
}

.form-label-mark {
	font-weight: 400;
	font-size: 1rem;
	width: 68px;
	padding: 0 0 1px 0;
	background: rgba(255, 153, 0, 1);
	border-radius: 2px;
	display: inline-block;
	text-align: center;
	margin-right: 17px;

}

.norequired {
	color: rgba(85, 85, 85, 1);
	background: rgba(255, 255, 255, 1);
}


.form-label-item {
	font-weight: 400;
	font-size: 1.25rem;
}



.form-wrap-content {
	max-width: 620px;
	width: 100%;
}

.form-wrap-content input {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background: rgba(255, 255, 255, 1);
	width: 100%;
	font-family: Shippori Mincho;
	font-weight: 400;
	font-size: 1.25rem;
}

.form-input-text {
	width: 100%;
}


.form-input-textarea {
	width: 100%;
	border: none;
}

.form-input-textarea textarea {
	width: 100%;
	border: none;
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	background: rgba(255, 255, 255, 1);
	height: 200px;
	font-family: Shippori Mincho;
	font-weight: 400;
	font-size: 1.25rem;
}

.form-recaptcha {
	font-family: Noto Sans JP;
	font-weight: 400;
	font-size: 1.25rem;
	text-align: left;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	gap: 74px;

}

.form-recaptcha-text {
	max-width: 572px;
}

.form-recaptcha-text a {
	text-decoration: underline;
	color: rgba(255, 255, 255, 1);
}

.form-button {
	margin-top: 100px;
	text-align: center;
}

.form-button input {
	border: none;
	width: 328px;
	padding: 23px 0;
	background: rgba(173, 2, 12, 1);
	color: rgb(255, 255, 255);
	font-family: Shippori Mincho;
	font-weight: 400;
	font-size: 2rem;
	cursor: pointer;
	transition: all 0.3s;
}

.form-button input:hover {
	opacity: 0.6;
}

/* コンタクトフォーム７調整 */
.wpcf7-spinner {
	display: none;
}

@media screen and (max-width:1023px) {
	.form-wrap-title {
		width: 245px;
	}

	.form-label-mark {
		width: 50px;
		margin-right: 8px;
	}

	.form-button {
		margin-top: 100px;
	}

	.form-recaptcha {
		font-size: 1rem;
		flex-direction: column;
		gap: 10px;
	}

	.form-recaptcha-title {
		text-align: center;
	}

	.form-recaptcha-text {
		max-width: 650px;
		margin-inline: auto;
	}

	.form-button input {
		width: 280px;
		padding: 23px 0;
		font-size: 1.5rem;
	}

	.form-wrap-content input,
	.form-input-textarea textarea {
		padding: 5px 10px;
	}
}


@media screen and (max-width:767px) {
	.form-read {
		font-size: 1.5rem;
		margin-top: 30px;
	}

	.form-wrap {
		flex-direction: column;
	}

	.form-wrap-title {
		width: 100%;
	}

	.form-wrap-content input,
	.form-input-textarea textarea {
		margin-top: 10px;
	}

	.form-wrap-content {
		gap: 20px;
	}

	.form-button {
		margin-top: 30px;
	}

	.form-button input {
		width: 250px;
		padding: 20px 0;
		font-size: 1.25rem;
	}

	.form-recaptcha {
		margin-top: 30px;
	}
}

/*sub-fv
-----------------------------------------------------------------------------------------*/

.sub-fv {
	background-image: url(../images/assets/sub-fv.jpg);
	background-position: left;
	background-size: cover;
	background-repeat: no-repeat;
	height: 560px;
	padding: 0;
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% 62%, 0% 100%);
}

.sub-fv-title {
	height: inherit;
	font-weight: 700;
	font-size: 2.25rem;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 1);
	display: flex;
	justify-content: center;
	align-items: center;
}

.sub-fv {
	.fv-content-left {
		/* width: 45px; */
		position: absolute;
		top: 194px;
		left: 56px;
	}

	.fv-copy {
		margin-top: 40px;
	}
}

@media screen and (max-width:1023px) {
	.sub-fv {
		height: 450px;
	}

	.sub-fv {
		.fv-content-left {
			position: absolute;
			top: 100px;
			left: 36px;
		}

		.fv-copy {
			margin-top: 30px;
		}
	}
}

@media screen and (max-width:767px) {
	.sub-fv {
		height: 250px;
	}
}

/*recruit
-----------------------------------------------------------------------------------------*/
.recruit-introduction {
	background-image: url(../images/assets/recruit-top-bg.png);
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
	margin-top: -216px;
	/* position: relative; */
}

.recruit-introduction-wrapper {
	margin-top: 81px;
}

.contents-wrapper {}

.recruit-introduction-title {
	font-weight: 700;
	font-size: 3rem;
	text-align: center;
}

.section-title {}

.recruit-introduction-content {
	margin-top: 57px;
	display: flex;
	gap: 54px;
}

.recruit-introduction-text {
	max-width: 546px;
	font-weight: 700;
	font-size: 1rem;
}

.recruit-introduction-img {
	max-width: 600px;
	width: 50%;
	flex-shrink: 0;
}

@media screen and (max-width:1023px) {
	.recruit-introduction {
		margin-top: -174px;
	}

	.recruit-introduction-content {
		gap: 30px;
	}

	.recruit-introduction-img {
		width: 45%;
	}

}

@media screen and (max-width:767px) {
	.recruit-introduction-wrapper {
	margin-top: 140px;
}
.recruit-introduction-title {
	font-size: 2rem;
}

.recruit-introduction-content {
	margin-top: 30px;
	flex-direction: column;
}

	.recruit-introduction-img {
		width: 100%;
	}
}







@media screen and (max-width:767px) {}


/*
-----------------------------------------------------------------------------------------*/

@media screen and (max-width:767px) {}


/*
-----------------------------------------------------------------------------------------*/

@media screen and (max-width:767px) {}


/*
-----------------------------------------------------------------------------------------*/

@media screen and (max-width:767px) {}


/*
-----------------------------------------------------------------------------------------*/